@model Enfermo

<h1>Detalles</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Inscripcion</td>
            <td>Apellido</td>
            <td>Direccion</td>
            <td>Fecha Nacimineto</td>
            <td>Sexo</td>
            <td>Numero SS</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Inscripcion</td>
            <td>@Model.Apellido</td>
            <td>@Model.Direccion</td>
            <td>@Model.FechaNac</td>
            <td>@Model.S</td>
            <td>@Model.NSS</td>
        </tr>
    </tbody>
</table>