@model List<Enfermo>

<h1>Lista enfermos</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Inscripcion</td>
            <td>Apellido</td>
            <td>Direccion</td>
            <td>Fecha Nacimineto</td>
            <td>Sexo</td>
            <td>Numero SS</td>
            <td>Detalles</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Enfermo enf in Model)
        {
            <tr>
                <td>@enf.Inscripcion</td>
                <td>@enf.Apellido</td>
                <td>@enf.Direccion</td>
                <td>@enf.FechaNac</td>
                <td>@enf.S</td>
                <td>@enf.NSS</td>
                <td>
                    <a asp-controller="Enfermos"
                        asp-action="Detalles"
                        asp-route-Inscripcion="@enf.Inscripcion">
                        Detalles
                    </a>
                </td>
            </tr> 
        }
    </tbody>
 </table>