@model Persona

@Html.ActionLink("Texto Link", "Action", "Controller"
,new {variable1 = "valor1", variable = "valor2"})

@Html.ActionLink("Vista --> Controller GET params"
, "VistaControladorGet", "Informacion") 

<h1>
    informacion controller --> view
</h1>

<h1 style="color:white; background-color:darkblue">
    @Model.Nombre, @Model.Email, @Model.Edad;

</h1>

<h1 style="color:blue">
    Nombre: @ViewData["NOMBRE"]
</h1>

<h2 style="color:red">
    Edad : @ViewData["EDAD"]
</h2>