@model List<Hospital>

<h1 style="color:blue">Lista hospitales</h1>

<table class="table table-responsive">
    <thead>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Camas</th>
        <th>Id Hospital</th>
    </thead>
    <tbody>
        @foreach(Hospital hospital in Model)
        {
            <tr>
                <td>@hospital.Nombre</td>
                <td>@hospital.Direccion</td>
                <td>@hospital.Telefono</td>
                <td>@hospital.Camas</td>
                <td>
                    @Html.ActionLink("Details", "Detalles", "Hospitales"
                    , new {idhospital = hospital.IdHospital})
                </td>
            </tr> 
        }
        
    </tbody>
</table>