@model Hospital

<h1>Detalles Hospital</h1>

<ul>
    <li>Id: @Model.IdHospital</li>
    <li>Nombre: @Model.Nombre</li>
    <li>Direccion: @Model.Direccion</li>
    <li>Telefono: @Model.Telefono</li>
    <li>Numero cama: @Model.NumCama</li>
</ul>